# Práctica SQL ejercicios

¿Cómo usar?<br>
Correr las celdas individualmente para resolver cada ejercicio.<br>
<br>

La función q('') toma entre las comillas una sentencia SQL e imprime el resultado de la query<br>
La función verTabla('') muestra la estructura de la tabla<br>

Shortcuts útiles: <br>
                shift + enter -> corre celda<br>
                esc + o       -> oculta/muestra resultado impreso<br>

In [ ]:
#Import sqlite para acceder a base y pandas para visualización
import sqlite3
import pandas as pd

#Poner acá el path a la base
archivoBase = 'practica-sql.db'

#Conectar a base
conn = sqlite3.connect(archivoBase)
c = conn.cursor()

In [ ]:
#Función q para realizar Queries
def q(sent):
     return pd.read_sql_query(sent, conn)
     

#Función para ver estructura de las tablas. El nombre de tabla va como string
def verTabla (tabla):
    table = str(tabla)
    return pd.read_sql_query(f'PRAGMA table_info("{table}")', conn)

Ver tablas de la base

In [ ]:
q('select name from sqlite_master where type="table";')

Ver estructura de la tabla ""

In [ ]:
verTabla('empleados')

In [ ]:
verTabla('proveedores')

## Ejercicios

### 1 SENTENCIA SELECT

a) Mostrar el contenido de la tabla empleados.

In [ ]:
q('''


''')

Solución

In [ ]:
q('''
SELECT * 
FROM empleados;
''')

b) Mostrar el nombre y teléfono de los proveedores.

In [ ]:
q('''


''')

### 2 RESTRICCIÓN Y ORDENAMIENTO DE LAS BÚSQUEDAS

a) Mostrar el nombre, salario y estado civil de los empleados del departamento 5.

In [ ]:
q('''


''')

b) Mostrar el nombre, salario y estado civil de los empleados del departamento 5 que estén casados.

In [ ]:
q('''


''')

c) Ordenar el resultado obtenido por nombre del empleado.

In [ ]:
q('''


''')

d) Listar el nombre y la suma del salario y comisión de los empleados que ganen más de 15500 pesos de los departamentos 2 y 5.

In [ ]:
q('''


''')

e) Listar los empleados con sus salarios y comisiones y calcular el salario anual considerando que el aguinaldo equivale a un mes de sueldo sin contar la comisión.

In [ ]:
q('''


''')

f) Mostrar los renglones de las órdenes calculando el total de cada renglón.

In [ ]:
q('''


''')

In [ ]:
#Hint: ver encabezado de tabla renglones
c.execute('PRAGMA table_info("renglones")').fetchall()

In [ ]:
#Hint: ver todo renglones
q('SELECT * FROM renglones')

g) Mostrar los precios de los productos de las órdenes 2,3, 5, 10, 17 y 18 incrementados en un 10% y redondeados a 2 decimales.

In [ ]:
q('''


''')

h) Hallar los nombres de los empleados con longitud mayor a 15.

In [ ]:
q('''


''')

### 3 USO DE FUNCIONES DE GRUPO

a) Hallar el valor máximo, valor mínimo y promedio de sueldos de los empleados.

In [ ]:
q('''


''')

b) Mostrar la cantidad de empleados por departamento.

In [ ]:
q('''


''')

c) Hallar el promedio de sueldos por departamento.

In [ ]:
q('''


''')

d) Detectar los productos que se han vendido más de una vez.

In [ ]:
q('''


''')

e) Calcular la cantidad de hombres y mujeres que trabajan en cada
departamento.

In [ ]:
q('''


''')

f) Mostrar la cantidad de empleados por departamento, para aquellos departamentos con más de 3 empleados.

In [ ]:
q('''


''')

### 4 COMBINACIÓN DE TABLAS Y CONSULTAS ANIDADAS

In [ ]:
#Hint: recordar estructura de la base
q('select name from sqlite_master where type="table";')

In [ ]:
#Hint: usar para ver nombres de columnas de las diferentes bases
verTabla('renglones')

In [ ]:
#Hint: usar para ver las diferentes tablas
q('SELECT * FROM ordenes')

a) Listar los códigos, nombres de proveedores, y cantidad total comprada.

In [ ]:
q('''


''')

b) Listar para cada proveedor el nombre, número de orden, productos y descripción del mismo.

In [ ]:
q('''


''')

c) Listar los nombres de los productos correspondientes a órdenes cuyo tipo de pago es CONTADO.

In [ ]:
q('''


''')

d) Listar los nombres de los diferentes productos que han sido ordenados.

In [ ]:
q('''


''')

e) Detectar cuáles productos no han sido ordenados.

In [ ]:
q('''


''')

f) Recuperar el nombre y el departamento de los empleados de mayor sueldo y de los de menor sueldo indicando en una columna la condición de mayor o de menor según corresponda.

In [ ]:
q('''


''')

g) Obtener el departamento de los empleados que cobran, al menos, el doble que el sueldo promedio de los empleados.

In [ ]:
q('''


''')

h) Listar el nombre, puesto, sexo y salario de todos los empleados que tienen un salario superior al salario más bajo. Ordenar la recuperación por salario en forma ascendente.

In [ ]:
q('''


''')

i) Listar las personas que ganen más de 950 pesos que el miembro del personal de sueldo más alto de sexo masculino. Indicar si son hombres o mujeres y su salario.

In [ ]:
q('''


''')